* {
	margin: 0;
	padding: 0;
}
.image {
	background: #55e6c5;
	height: 750px;
	width: 100%;
	z-index: 1;
}

.content {
	background: white;
	height: 350px;
	width: 100%;
	z-index: 2;
}
 .content h1 {	
 	color: #464646;
 	font-size: 48px;
 	font-weight: 600;
 	margin: 30px 60px;
 }

 .content p {
 	color: #343434;
 	font-size: 20px;
 	font-weight: 300;
 	margin: 30px 60px;
 }

 #wall_1 {
 	background: url(../images/test1.jpeg) repeat;
 	background-attachment: fixed;
 	height: 250px;


 }

 #wall_2 {
 	 background:url(../images/test2.jpeg) repeat;
 	 margin-right: 0 auto;
 	 height: 300px;
 	 background-attachment: fixed;


 }

 #wall_3 {
 	 background: url(../images/test3.jpeg) repeat;
 	 height: 150px;
 	 background-attachment: fixed;
 }