/*Resources and inspirations: http://www.internetkultur.at/simple-hamburger-drop-down-menu-with-css-and-jquery/*/
/*Jesse Showalter  Parallax in ...*/
/*rhttps://www.npmjs.com/package/jquery.stellar*/
/*https://discovery.wisc.edu/about*/

/* hambuger menu */


.menu-btn div {
 position: absolute;
 right: 100%;
 top: 64%;
 padding-right: 8px;
 margin-top: -0.50em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}
 
.menu-btn span {
 display: block;
 width: 19px;
 height: 3px;
 margin: 4px 0;
 background: rgb(0,0,0);
 z-index: 99;
}
 
.responsive-menu{
 display: none;
}
 
.expand {
 display: block !important; 
}