/*Resources and inspirations: http://www.internetkultur.at/simple-hamburger-drop-down-menu-with-css-and-jquery/*/
/*https://www.npmjs.com/package/jquery.stellar*/
/*https://discovery.wisc.edu/about*/

/*https://speckyboy.com/2013/01/30/more-responsive-navigation-solutions/*/

/*http://www.jqueryscript.net/slider/Lightweight-Responsive-Content-Slider-Plugin-with-jQuery-CSS3-lightslider.html*/


/* http://webdesignerwall.com/tutorials/css-responsive-navigation-menu */



.menu-btn div {
 position: absolute;
 right: 100%;
 top: 64%;
 padding-right: 8px;
 margin-top: -0.50em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}
 
.menu-btn span {
 display: block;
 width: 19px;
 height: 3px;
 margin: 4px 0;
 background: rgb(0,0,0);
 z-index: 99;
}
 
.responsive-menu {
 display: none;
}
 
.expand {
 display: block !important; 
}