
/* hamburger menu */

/*.fixedbar .nav2 ul {
  padding: 0;
  margin: 0;
}
.fixedbar .nav2 ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 0 0 5px;
  margin: 0;
}
.fixedbar .menuIcon {
  display: none;
  background: #000;
  width: 100%;
  text-align: center;
}
.fixedbar .menuIcon:hover {
  background: #999;
}
.fixedbar .menuIcon a {
  width: 100%;
  display: inline-block;
  color: #fff;
}
.fixedbar .menuIcon a img {
  vertical-align: middle;
}*/

/*@media only screen and (max-width: 767px) {
  .fixedbar .nav2 {
    max-height: 0;
    overflow: hidden;
    float: none;
    text-align: center;
    width: 100%;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .fixedbar .nav2.menuOpen {
    max-height: 1000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  .fixedbar .nav2 ul li {
    display: block;
    width: 100%;
    background: #000;
    border-top: 1px solid #4d4d4d;
  }
  .fixedbar .nav2 ul li:hover {
    background: #999;
  }
  .fixedbar .nav2 ul li a {
    color: #fff;
    text-shadow: #848484 0px 1px 2px;
    padding: 10px 0;
    width: 100%;
  }
  .fixedbar .menuIcon {
    display: inline-block;
  }
}*/